/* .toda-la-pagina-maki {
  background-image: url('https://res.cloudinary.com/djglk3cso/image/upload/v1687850237/Dise%C3%B1o_sin_t%C3%ADtulo_14_keddiy.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-origin: content-box;
} */

.crear-oferta-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: bold;
}
.h3-oferta {
  color: #61d61d;
}
#oferta-h3-general {
  font-weight: 800;
  font-size: bold;
  letter-spacing: 1px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.textarea-description {
  height: 150px;
  width: 40vw;
}
.tecnologies-Offer {
  margin-top: 5px;
  /* padding-left: 30px; */
  overflow: auto;
  height: 200px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.input-create-offer {
  width: 40vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding: 12px;
  margin-top: 7px;
  border: 2px solid #cecfd0;
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
  color: black;
}

.error-message {
  color: red;
}
.btn-submit-create-offer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 180px;
  background-color: #25d366;
  color: white;
  margin-bottom: 1rem;
}
#btn-offer {
  margin-top: 10px;
}
