
  .cardOffer-BtnToggle {
    position: absolute;
    
  }
  .favorite-icon{
    margin: 2px;
    
  }
  
  .cardOffer-link-to-offerDetails{
    display: flex;
    flex-direction: column;
    

  }
  .cardOffer-Info{
    display:flex;
    border: 1px solid #e3e4e5;
    width: 900px;
  }
.cardOffer-Info-tabla-name{
    margin-bottom: 10px;
}
.cardOffer-Info-AnnualSalary{
    font-size:smaller;
    margin: 5px;
    margin-left:15px;
    margin-bottom: 7px;
}
  p{
    margin: 1.5px;
  }

.cardOffer-Info-img{
    
  height:110px;
    width: 140px;
    object-fit: cover;
    border-radius: 7px;
   
}

.cardOffer-paragraph{
   margin: 1rem;

}

.cardOffer-Info-technologies{
font-size: 15px;
gap: 2rem;
font-family: var(--font-bold);
}

.cardOffer-Profile{
    display: flex;
    flex-direction:column;
   justify-content:flex-start;
   align-items: space-around;
   width: 25vw;
}

.cardOffer-Info-Ubicado{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardOffer-Info-OfferState{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    /* margin-left: 300px; */
    
    
}
.cardOffer-Info-JobType{
  display: flex;
  /* flex-direction: column;
  justify-content:end;
  align-items:end; */
}

.cardOffer-Info-UbiJob{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}