.choose_technologies-container-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 12px;
}

.choose_technologies-container-choose:hover {
  font-weight: 650 ;
}

.father-container-technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  gap: 0.7rem;
  max-width: 950px;
  margin-left: 36px;
  
}

.tech-image {
  width: 39px;
  height: 30px;
  margin-top: 5px;
}

.tech-image-text{
  font-size: 12px;
  margin: 9px 0 0 0px;

}

.tecnologia-item {
  width: 81px;
  border: 1px solid rgba(0, 0, 0, 0.088);
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.1px;

}

.image-container {
  /* width: 70px;
  height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1%;
  margin-top: 7px;
  padding: 0.1px 0;
}

.btn_profile_general_tech {
  margin-top: 12px;
}
