.changePassword-text-new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 30px;
  /* margin-bottom: 0.5rem; */
}
.changePassword-text-new-password:hover {
  color:#25d366 ;
}
.input_user {
  width: 450px;
  padding: 12px;
  margin-top: 25px;
  border: 1px solid #e3e4e5;  
  border-radius: 12px;
  padding: 20px;
  font-size: 16px;
}

.input_user:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #25d366;
  
}

.password_container_form-current-new-confirm {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 18px;
}

/* .btn_container-perfil{
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  border: none;
  border-radius: 30px;
  height: 39px;
  width: 210px;
  background-color: #25d366;
  color: white;
} */






