.offers-filters-and-offersList-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

.offers-filters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    min-width: 23%;
    max-width: 23%;
    height: 100%;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid black;
}

.offers-filter-offerType-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.offers-filter-experienceYears-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.offers-filter-annualSalary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offers-filter-jobType-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.offers-filter-offerState-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.offers-offersList-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    height: 100%;
}