.outletContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 28px;
    padding: 20px;
}

.offerTit {
    font-size: 22px;
    align-items: center;
    font-family: var(--font-bold);
}

.offers-filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.offers-filters-container > div {
    width: 400px;
   
}

.offer-button-Create{
    border: none;
    border-radius: 30px;
    height: 39px;
    width: 145px;
    background-color: #25d366;
    color: white;
}

.offer-button-Create:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  
}

.offers-offersList-container {
    margin-top: 25px;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.offersList-paginate-and-offers-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offersList-paginate {
    display: flex;
    gap: 18px;
    margin-top: 12px;
}

.offers-offersList-container {
    align-items: center;
    margin-top: 10px;
}

.cardOffer-Info {
    margin-top: 10px;
}

@media screen and (max-width: 494px) {
    .offers-filters-container > div {
        width: 200px;
    }
    .offerTit {
        font-size: 20px;
        align-items: center;
        font-family: var(--font-bold);
        text-align: center;
    }
}
@media screen and (max-width:991px) {
    .offersList-offers-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .cardOffer-Info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 300px;
        margin-left: 19px;
        gap: 5px;
    }
    .cardOffer-link-to-offerDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .cardOffer-Profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin-top: 5px;
    }

    .cardOffer-Info-Description{
        max-width: 200px;
    }
    .cardOffer-Info-tabla-name {
        text-align: center;
    }
    .cardOffer-Info-Ubicado, .cardOffer-Info-AnnualSalary {
        text-align: center;
    }
    .cardOffer-Info-technologies{
        text-align: center;        
    }
}


@media screen and (max-width: 458px) {
    .cardOffer-Info {
        margin-right: 10px;
    }
}