.imageUser {
  background-color: white;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  top: -20%;
  transform: scale(0.8);
}

.emailUser {
  text-align: center;
  color: var(--textColor);
}

.dataProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  padding: 0 0 70px 0rem;
  border: 0px solid white;
  margin: 0 50px 50px 70px;
}

.dataProfile > img {
  display: flex;
}

