.containerDataNoChange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.formProfile-text-new-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}


.formProfile-text-new-profile:hover {
  font-weight: 650;
}

.containerProfile {
  display: flex;
  max-width: 750px;
  margin-top: 1rem;
  border-radius: 20px;
}

.form-wrap {
  border-radius: 20px;
}

.formProfile {
  /* margin: 2rem; */
  margin: 0;
}

/* .btn_container {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.btn_container-center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  border: none;
  border-radius: 30px;
  height: 39px;
  width: 210px;
  background-color: #25d366;
  color: white;
}

@media (max-width: 900px) {
  .containerProfile {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .formProfile {
    margin: 0.5rem;
  }
}
