.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  color: #333;
  width: 100%;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.description-input {
  height: 80px;
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.form-button:hover {
  background-color: #45a049;
}
