
.form_Create {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18px;
  padding: 14px 0 0 57px;
}

.form-empresa-duracion{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

.form-label:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #25d366;
}

.form-input {
  width: 390px;
  padding: 12px;
  margin-top: 7px;
  border: 1px solid #e3e4e5;  
  border-radius: 12px;
  font-size: 16px;
  
}

.form-input-description-input {
  width: 520px;
  border: 1px solid #e3e4e5;  
  border-radius: 12px;
  padding: 44px;
  font-size: 16px;
  align-items: flex-start;
}

.form-input-description-input:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #25d366;
}

.form-Uploadfile_photo_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 30px;
}

